:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-gray: #EEEEEE;
  --background-color: #F2F2F2;
  --button: #766357;
  --button-hover: #604E43;
  --button-active: #503E33;
  --button-visibility: rgba(255, 255, 255, 0.3);
  --social-button-hover: #669EC0;
  --social-button-active: #5496BD;
  --from-to: #CACACA;
  --button-detail-hover: #669EC0;
  --foother-color: rgba(255, 255, 255, 0.9);
}
.page
{
  height: 100%;
}
.page-body {
  max-width: 1200px;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--background-color);
  min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}
a
{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*Гриды*/



/* Навигация*/
/*лого*/

.main-nav {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  /*outline: 5px solid rgba(27, 33, 150, 0.3);
  outline-offset: -5px;*/
}
.main-header-logo
{
  grid-template-columns: min-content;
  justify-self: center;
  /*outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;*/
}
.main-navigation-wrapper
{
background-color: var(--basic-white);
display: grid;
grid-template-columns: 1fr;
width: 1200px;
margin: 0 auto;
padding: 0 10px;

}

.center
{
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight:700;
  margin: 0;
  padding: 0;
  /*outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;*/
  list-style: none;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  }
.site-nav a {color: var(--basic-black);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*шапка*/
.main-header
{
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;

}
/*Тело*/
.slogan-site {
  background-color: var(--basic-white);
  text-align: center;
  padding-top: 43px;
  padding-bottom: 51px;
}
.slogan-site b {
  font-size: 21px;
  line-height: 26px;
}
.slogan-site span {
  font-size: 14px;
  line-height: 26px;
}

/*синий блок слева*/
.block-left
{

  background-color: var(--basic-white);
  color: var(--basic-white);
  text-align: center;
  margin: 0;


}
.block-left b {

  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.block-l
{
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;

}
/*Блок с иконками*/
.thumb-list
{
  background-color: var(--basic-white);
  text-align: center;
}
.thumb-list ul
{

  list-style: none;
  color: var(--basic-black);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 82px;
}
.thumb-list h2
{
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.thumb-list p
{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}
/* Синий блок справа*/
.block-right {
  background-color: var(--basic-white);
  color: var(--basic-white);
  text-align: center;
}
.block-r
{
  width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.block-right b {

  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
/*серый блок*/
.box-item
{
  background-color: var(--basic-gray);
}
.box-item ul
{
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 47px;
  padding-bottom: 54px;
}
.box-item b
{
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.box-item span
{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
 }
  /*блок с кнопкой поиска*/

.box-button
{
  background-color: var(--basic-white);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 58px;
}
.box-button b
{
  text-align: center;
  font-size: 30px;
  line-height: 24px;
}
.box-button span
{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
  margin-left: 316px;
}
.button:hover
{
background-color: var(--button-hover);
}
.button:active
{
  background-color: var(--button-active);
  color: var(--button-visibility);
}


/*футер*/
.columns-foother
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-footer {
  background-color: var(--foother-color);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.contacts-phone
{
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  text-align: center;
}
.twitter, .facebook, .youtube
{
  background-color: var(--basic-blue);
  border: none;
}
.twitter:hover
{
background-color: var(--social-button-hover);
}
.twitter:active
{
  background-color: var(--social-button-active);
}
.facebook:hover
{
background-color: var(--social-button-hover);
}
.facebook:active
{
  background-color: var(--social-button-active)
}
.youtube:hover
{
background-color: var(--social-button-hover);
}
.youtube:active
{
  background-color: var(--social-button-active);
}
/*логотип в футере*/
.foother-logo:hover
{
 background-color: var(--basic-blue)
}
.foother-logo:active
{
  background-color: var(--social-button-active) ;
}
/*каталог*/

/*чекбоксы*/

.filter ul
{
  list-style: none;
}
.filter legend
{
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.filter-benefits
{
  border : none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.filter-type
{
  border : none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.slider-price
{
  border : none;
}
.slider-price label
{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background: none;
}
/*слайдер*/
.price-button
{
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight:400;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border-style: solid;
  border-radius: 2px;
  border-color: var(--basic-white)
}
.price-button:hover
{
  color: var(--basic-black);
  background-color: var(--basic-white);
  }
  /*сортировка поиска*/
  .sort
  {
   background-color: var(--basic-white);
  }
  .sort b
  {
   color: var(--basic-black);
   font-size: 21px;
   line-height: 26px;
   font-weight:700;
  }
  .sort-row
  {
   text-decoration: none;
   color: var(--basic-black);
   font-size: 12px;
   line-height: 18px;
   font-weight:400;
   border-bottom: 1px dashed var(--basic-blue);
   opacity: 0.3;
  }
  .sort-row:hover
  {
   color: var(--basic-blue);
   opacity: 1;
  }
  .sort-row:focus
  {
   color: var(--basic-blue);
   opacity: 1;
   border-bottom: none;
  }
  .sort-row:active
  {
   color: var(--basic-black);
   border-bottom: none;
   opacity: 1;
  }
  .sort-from
  {
   text-decoration: none;
   font-size: 11px;
   color: var(--from-to);
  }
  .sort-from:hover
  {
   color: var(--basic-black);
  }
  .sort-from:focus
  {
   color: var(--basic-blue);
  }
  .sort-from:active
  {
   color: var(--basic-blue);
  }

  /*список*/
  .list-result
  {
   background-color: var(--basic-white);
  }
  .list-result ul
  {
   list-style: none;
  }
  .button-detail
  {
   width: 110px;
   height: 27px;
   border: none;
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight:700;
   text-align: center;
   vertical-align: middle;
   text-transform: uppercase;
   color: var(--basic-white);
   background-color: var(--basic-blue);
  }
  .button-detail:hover
  {
   color: var(--basic-white);
   background-color: var(--button-detail-hover);
  }
  .button-detail:active
  {
    background-color: var(--button-detail-hover);
    color: var(--button-visibility);
  }
  .button-confirm
  {
   width: 142px;
   height: 27px;
   border: none;
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight:700;
   text-align: center;
   vertical-align: middle;
   text-transform: uppercase;
   color: var(--basic-white);
   background-color: var(--button);
  }
  .button-confirm:hover
  {
   color: var(--basic-white);
   background-color: var(--button-hover);
  }
  .button-confirm:active
  {
   color: var(--button-visibility);
   background-color: var(--button-active);
  }









