:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-blue: #81B3D2;
  --basic-gray: #EEEEEE;
  --background-color: #F2F2F2;
  --background-color-opacity: rgba(255, 255, 255, 0.3);
  --button: #766357;
  --button-hover: #604E43;
  --button-active: #503E33;
  --button-visibility: rgba(255, 255, 255, 0.3);
  --social-button-hover: #669EC0;
  --social-button-active: #5496BD;
  --from-to: #CACACA;
  --button-detail-hover: #669EC0;
  --foother-color: rgba(255, 255, 255, 0.9);
  --bottom: #E5E5E5;
  --rating: #666666;
  --toggle:#ABABAB;
  --box-shadow: rgba(0, 1, 1, 0.2);
  --search-shadow: rgba(0, 1, 1, 0.15);
  --amount-button: #A9A9A9;
  --footer-logo: #BDBBBC;
}
.page
{
  height: 100%;
}
.page-body {
max-width: 1200px;
min-width: 960px;
margin: 0;
padding: 0;
font-family: "PT Sans";
font-size: 14px;
line-height: 26px;
font-weight: 400;
color: var(--basic-black);
text-transform: uppercase;
background-color: var(--background-color);
  min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
margin-left: auto;
margin-right: auto;
}
a
{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*Гриды*/



/* Навигация*/
/*лого*/
.main-header {
  width: 1200px;
  background-color: var(--basic-white);
}
.container
{
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 15px 5px var(--box-shadow);
}
.center
{
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight:700;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 1200px;
  }
.site-nav-1
{
  padding-left: 72px;
}
.site-nav-2 {
  padding-left: 134px;
  margin-right: 418px;
}
.site-nav-3
{
  padding-left: 1px;
}
.site-nav-4 {
  padding-left: 147px;
}
.header-logo
{
  display: block;
  position: absolute;
  right: 50%;
  margin-right: -69px;
  top: 0;
  z-index: 1;
/*
логотип плавает
*/


}
/* .site-nav-3 {
  padding-left: 418px;
} */

.site-nav a {
color: var(--basic-black);
}
.site-nav a:hover
{
  color: var(--basic-blue);
}
.site-nav a:focus
{
 color: var(--button);
}

.site-nav a:active
{
 color: var(--basic-black-opacity);
}


/* .sort-from:hover
наведение
{
 color: var(--basic-black);
}
.sort-from:focus
выбранный
{
 color: var(--basic-blue);
}
.sort-from:active
нажатие
{
 color: var(--basic-blue);
} */
.visually-hidden
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*шапка*/

/*Тело*/
.title-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 509;
  background-color: var(--background-color);
  background-image: url(../img/backgroundphoto.jpg);
  position: relative;

}
.title-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  margin-top: 20px;
  background-image: url(../img/bottomwelcome.svg);
}
.welcome-svg
{
  padding-top: 77px;
}
.gorgeous-svg
{
  padding-top: 10px;
}
.sedona-svg
{
  padding-top: 53px;
  padding-bottom: 80px;
}



.slogan-site {
  background-color: var(--basic-white);
  text-align: center;
  /*
  padding-bottom: 51px;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 1200px;


}

.slogan-site b {
  /*По макету 42.5 пикселя отступ сверху как так?*/
  display: block;
  font-size: 21px;
  line-height: 27px;
  padding-top: 43px;
  margin-bottom: 12px;

}
.slogan-site span {
  display: block;
  font-size: 14px;
  line-height: 29px;
  padding-bottom: 50px;
}

/*синий блок слева*/
.block-l
{
  width: 1200px;
  display: grid;
  grid-template-columns: 400px 800px;
}




.block-left
{
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  padding-top: 46px;
  padding-bottom: 54px;
  /* НИЖЕ Паддинги не по макету почему то спан не умещается
  нужно спросить
  по макету 49 пх*/
  padding-left: 47px;
  padding-right: 47px;
  }




.img-block-left
{
  width: 800px;
  height: 256px;
}
.block-left b {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 24px;

}
.block-left p{
  display: block;
  line-height: 21px;
  padding: 0;
  margin-top: 21px;

}
.thumb-list
{
  display: flex;
  background-color: var(--basic-white);


}
.thumb-items
{

  display: flex;
 flex-direction: column;
 width: 400px;
 text-align: center;
 position: relative;
}
.thumb-items h2
{
  padding: 0;
  margin: 0;
  padding-top: 157px;
}
.thumb-items p
{
  padding: 0;
  margin: 0;
  line-height: 21px;
  padding-top: 24px;
  padding-bottom: 81px;

}

.thumb-items:nth-child(1) .icon-svg {
  width: 75px;
  height: 72px;
  background-image: url(../img/icon1.svg);
  position: absolute;
  right:163px;
  top: 60px;



}
.thumb-items:nth-child(3) .icon-svg {
  width: 64px;
  height: 77px;
  background-image: url(../img/icon2.svg);
  position: absolute;
  left:168px;
  top: 55px;
}
.thumb-items:nth-child(2) .icon-svg {
  width: 75px;
  height: 70px;
  background-image: url(../img/icon3.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 163px;
  top: 61px;
}
/*
{ box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  align-items: center;

}
Как поступить с иконками?
.icon-svg {

  padding-bottom: 28px;
}
.thumb-item {

 flex-grow: 1;

}
.thumb-item p {
box-sizing: border-box;
display: block;
margin: 0;
padding: 0;
}
.thumb-item h2 {
  margin: 0;
  padding: 0;
  }
.icon-svg-1
{
padding-top: 60px;
}
.icon-svg-2
{
padding-top: 61px;
}
.icon-svg-3
{
padding-top: 56px;
} */

/* Синий блок справа*/

.block-r
{
  width: 1200px;
  display: grid;
  grid-template-columns: 800px 400px;
}
.block-right
{
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 52px;
  padding-left: 50px;
  padding-right: 48px;
}
.block-right p {
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.img-block-right {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.block-right b {
  display: block;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 23px;
}
.block-right span {
  display: block;
  margin-bottom: 21px;

}
/*серый блок*/
.box-list
{
  background-color: var(--basic-gray);
  width: 1200px;
  /* height: 256px; */
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  /* align-items: center; */
  box-sizing: border-box
}
.box-item
{
  /* flex-grow: 1; */
  display: flex;
  width: 400px;
  flex-direction: column;
  box-sizing: border-box
}
/* .box-item-1
{
  margin-left: 30px;
} */

.box-item b {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  padding-top: 47px;
}
.box-item p {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding-top: 9px;
  padding-bottom: 41px;
}
.box-item span
{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding-top: 26px;
 }
  /*блок с кнопкой поиска*/
  .button{
    width: 586px;
    height: 86px;
  }

.filters
{
  background-color: var(--basic-white);
  text-align: start;
  display: flex;
  background-image: url(../img/backgroundcatalog.jpg);
}
.filter-option {
  padding-top: 25px;
  padding-left: 42px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  background-image: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
  position: absolute;
  left: -40px;
  top: 0;}
  .filter-input-checkbox:checked + label::before {
    content: "";
    background-image: url(../img/checkbox-on.svg);
    width: 26px;
    height: 23px;
    position: absolute;
    left: -40px;
    top: 0;}
  .filter-input-checkbox:disabled + label::before {
    content: "";
    background-image: url(../img/checkbox-on-disabled.svg);
    width: 26px;
    height: 23px;
    position: absolute;
    background-repeat: no-repeat;
    left: -40px;
    top: 0;}
  .filter-input-checkbox:disabled + label::before {
    content: "";
    background-image: url(../img/checkbox-off-disabled.svg);
    width: 26px;
    height: 23px;
    position: absolute;
    background-repeat: no-repeat;
    left: -40px;
    top: 0;}  


.filter-benefits
{
 padding: 0;
 margin: 0;
 width: 250px;
 padding-left: 70px;
 padding-bottom: 32px;
}
.filter-benefits ul
{
  list-style: none;
  padding: 0;
  margin: 0;

}
.filter-benefits legend
{
  font-size: 16px;
 font-weight: 700;
  padding-top: 26px;
}


.filter-type
{
  padding: 0;
margin: 0;
width: 300px;
padding-left: 5px;
}
.filter-type legend
{ font-size: 16px;
  font-weight: 700;

  padding-top: 26px;


}
.filter-type ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 0;

}


.slider-price legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  padding-top: 23px;
}
.range-filter {
  position: relative;
  width: 350px;
  margin-top: 5px;
  margin-left: 3px;

}
.range-controls {
  width: 316px;
  position: relative;
 }
.range-controls .scale {

  height: 2px;
  padding-right: 73px;
  margin-top: 20px;
  background: var(--basic-white);
  }
  .range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--background-color-opacity);
    /* не работает  почему? */
}
.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}
.min-price
{
padding-left: 65px;
}

.max-price
{
  padding-left: 63px;
}
.price-controls
  {
   display: flex;
  width: 312px;
  height: 32px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}
.range-filter::after
{
  content: "";
  position: absolute;
  background-image: url(../img/stick.svg);
  top: 7px;
  left: 158px;
  width: 2px;
  height: 22px;
}
.price-controls label
{ display: flex;
  align-items: center;
  justify-content: center;
}
.price-controls input {
   width: 60px;
  margin: 0;
  padding-right: 5px;
  padding-top: 0px;
  background: none;
  border: none;
  color: var(--basic-white);
  font-family: inherit;
  font-size: inherit;

}

.range-controls .toggle-max {
  left: 252px;
}
.box-button {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 1fr; */
  padding-top: 55px;
  background-color: var(--basic-white);
}

.range-controls button
{
  padding: 6px 32px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 35px;
    right: 95px;


}

.box-button b {
  text-align: center;
  font-size: 30px;
  line-height: 25px;
  padding-right: 10px;
  padding-bottom: 8px;
}
.box-button span
{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 17px;
}
.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  text-align: center;
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
  margin-left: 316px;
}
.button:hover
{
background-color: var(--button-hover);
}
.button:active
{
  background-color: var(--button-active);
  color: var(--button-visibility);
}
.range-controls button:hover
{
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.toggle:hover 
{
 transform: scale(1.2);
}
.search-form:focus input
{
  outline: 2px solid var(--bottom);
  background-color: var(--basic-white);
}
/* .range-controls .toggle:hover
{

}

.map
{
  display: flex;
  position: relative;
  /* width: 1200px;
  height: 594px; */


.search-form {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: var(--search-shadow);

  left: 50%;
  margin-left: -284px;
  padding: 55px;
  font-weight: bold;
  line-height: 21px;
}

.search-form .departure {
  padding-bottom: 20px;

}
.search-form input[name="date-of-entry"]
{
 width: 331px;
 height: 35px;
 background-color: var(--background-color);
 border: none;
 text-transform: uppercase;
 font: inherit;
 padding-left: 13px;
 margin-left: 23px;
}
.search-form input[name="date-of-departure"] {
  width: 331px;
  height: 35px;
  background-color: var(--background-color);
  border: none;
  text-transform: uppercase;
  font: inherit;
  padding-left: 13px;
  margin-bottom: 19px;
  margin-left: 20px;
}

.entry-calendar {
  position: absolute;
  top: 63px;
  right: 64px;
}
.entry-calendar svg
{
  fill: var(--amount-button);
}
.departure-calendar {
  position: absolute;
  top: 130px;
  right: 64px;
}
.departure-calendar svg
{
  fill: var(--amount-button);
}
.amount
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box;
  padding-bottom: 42px;
}
.amount button {
  height: 37px;
  width: 40px;
  border: none;
  background-color: var(--background-color);
  color: var(--amount-button);
}
.amount input {
  width: 30px;
  height: 35px;
  border: none;
  background-color: var(--background-color);
  text-align: center;
}
.button-minus-adults {
  position: relative;
  margin-left: 41px;

}
.button-minus-adults svg
{
  position: absolute;
  top: 18px;
  left: 13px;
  fill: var(--amount-button);
}
.button-plus-adults {
  position: relative;
  margin-right: 53px;
}
.button-plus-adults svg
{
  position: absolute;
  top: 14px;
  left: 15px;
  fill: var(--amount-button);
}
.button-minus-children
{ position: relative;
  margin-left: 26px;
}
.button-minus-children svg
{
  position: absolute;
  top: 18px;
  left: 15px;
  fill: var(--amount-button);
}
.button-plus-children
{
  position: relative;
}
.button-plus-children svg
{
  position: absolute;
  top: 14px;
  left: 17px;
  fill: var(--amount-button);
}
.map iframe
{
  background: var(--background-color);
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  width: 1199px;
  height: 594px;
  border: 0;
}
.search-button {
  font: inherit;
  width: 100%;
  background-color: var(--basic-blue);
  border: medium;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--basic-white);
  line-height: 21px;
  width: 458px;
  height: 58px;


}



/*футер*/
.main-footer
 {
  width: 1200px;
  height: 120px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding: 36px 0; */
  position: absolute;
  bottom: 0px;
  background-color: var(--foother-color);
}
.main-footer-catalog
{
  width: 1200px;
  height: 120px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding: 36px 0; */
  /* position: absolute; */
  bottom: 0px;
  background-color: var(--foother-color);
}






.footer-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 400px;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  padding-top:12px ;
}
.social-button
{
  display: flex;
  box-sizing: border-box;
  width: 400px;
  align-items: center;
  justify-content: center;

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */


}
.footer-logo
{
  display: flex;
  box-sizing: border-box;
  width: 400px;
  align-items: center;
  justify-content: center;
  }
.footer-logo-link svg
{
    padding-right: 65px;
    padding-top: 5px;
    fill: var(--basic-black);
}
  .footer-logo span
  {
    padding-right: 15px;
    padding-bottom: 2px;
  }

/*.footer
{
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;

}*/
.contact-tel
{
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  text-align: center;
  display: block;
  margin-left: 72px;

}
.contact-tag
{
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding-bottom: 9px;
  padding-top: 10px;
  margin-left: 73px;
}
.twitter{
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  margin-right: 6px;
  position: relative;
}

.twitter a
{
  position: absolute;
  top: 14px;
  right:14px;

}
.facebook a
{
  position: absolute;
  top: 13px;
  right: 17px;
}
.youtube a
{
  position: absolute;
  top: 13px;
  right: 13px;
}
.facebook, .youtube
{
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  /* margin-top: 10px; */
  margin-right: 6px;
  position: relative;
}
.youtube
{
  margin-right: 0;
}
/*  Действия */
.button-minus-adults:hover svg
{
 fill: var(--basic-black)
}
.button-minus-adults:active svg
{
  fill:var(--basic-blue);
}
.button-plus-adults:hover svg
{
 fill: var(--basic-black)
}
.button-plus-adults:active svg
{
  fill:var(--basic-blue);
}
.button-minus-children:hover svg
{
 fill: var(--basic-black)
}
.button-minus-children:active svg
{
  fill:var(--basic-blue);
}
.button-plus-children:hover svg
{
 fill: var(--basic-black)
}
.button-plus-children:active svg
{
  fill:var(--basic-blue);
}
.entry svg:hover
{
  fill: var(--basic-black);

}
.entry svg:active
{
  fill:var(--basic-blue) ;
}
.departure svg:hover
{
  fill: var(--basic-black);
}
.departure svg:active
{
  fill:var(--basic-blue);
}
.search-button:hover
{
 background-color: var(--social-button-hover);
}
.search-button:active
{
  background-color: var(--social-button-active);
  color: var(--button-visibility);
}
.twitter:hover
{
background-color: var(--social-button-hover);
}
.twitter:active
{
  background-color: var(--social-button-active);
}
.twitter:active img 
{
  opacity: 0.5;
}
.facebook:hover
{
background-color: var(--social-button-hover);
}
.facebook:active
{
  background-color: var(--social-button-active)
}
.facebook:active img 
{
  opacity: 0.5;
}
.youtube:hover
{
background-color: var(--social-button-hover);
}
.youtube:active img
{
  opacity: 0.5;
}
.youtube:active
{
  background-color: var(--social-button-active);
}
/*логотип в футере*/
.footer-logo-link:hover svg
{
 fill: var(--basic-blue);
}
.footer-logo-link:active svg
{
  fill: var(--footer-logo);
}
/*каталог*/

/*чекбоксы*/
.filter
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(../img/backgroundcatalog.jpg) ;
}

.filter ul
{
  list-style: none;
}
.filter legend
{
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.filter-benefits
{
  border : none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.filter-type
{
  border : none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.slider-price
{
  border : none;
  padding-left: 181px;

}
.slider-price label
{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background: none;

}
/*слайдер*/
.price-button
{
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight:400;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border-style: solid;
  border-radius: 2px;
  border-color: var(--basic-white)
}
.price-button:hover
{
  color: var(--basic-black);
  background-color: var(--basic-white);
  }
  /*сортировка поиска*/
  .sort
  {

   display: flex;
   align-items: center;
   background-color: var(--basic-white);
   padding-left: 73px;
   padding-right: 73px ;
   padding-top: 29px;
   padding-bottom: 31px;
   width: 1200px;
   box-sizing: border-box;
   border-bottom: 1px solid var(--bottom);
  }
  .sorting-result
  {
   width: 163px;
   color: var(--basic-black);
   font-size: 21px;
   line-height: 26px;
   font-weight:700;

  }
  .sorting
  {
  display: flex;
  font-size: 12px;
  width: 845px;

  }

  .sorting-list
  {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   padding-left: 40px;
   color: var(--basic-black);

  }
  .sorting-item
  {
   padding-right: 33px;
  }
  .sorting-item a
  {
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
  opacity: 0.3;}
  .sorting-from
  {
    display: flex;
  }

  .sorting-from-list
  {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;

  }
  .sorting-from-list li
  {
    padding-left: 12px;

  }
  .sorting-from-link svg
  {
    fill: var(--from-to);
  }

  .sorting-item a:hover
  {
   color: var(--basic-blue);
   opacity: 1;
  }
  .sorting-item a:focus
  {
   color: var(--basic-blue);
   opacity: 1;
   border-bottom: none;
  }
  .sorting-item a:active
  {
   color: var(--basic-black);
   border-bottom: none;
   opacity: 1;
  }
  .sort-from
  {
   text-decoration: none;
   font-size: 11px;
   color: var(--from-to);
  }
  .sorting-from-link:hover svg
  {
   fill: var(--basic-black);
  }
  .sorting-from-link:focus svg
  {
   fill: var(--basic-blue);
  }
  .sorting-from-link:active svg
  {
   fill: var(--basic-blue);
  }
  /*сортировка поиска*/

  /*список*/
  .result
  {
    display: flex;
    flex-direction: column;
    width: 1200px;
  }
  .list-result {
    background-color: var(--basic-white);
    /* padding-left: 73px; */
    /* padding-top: 24px; */
    padding-left: 73px;
    width: auto;
    height: 150px;
    /* padding-bottom: 27px; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bottom);
}
  .result-img
  {
    width: 164px;
    height: 90px;
    display: block;
  }
  .result-description
  {
    width: 780px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    margin-right: 6px;

  }

  .result-description-h2
  {
    margin: 0;
    padding-bottom: 5px;
    min-width: 780px;
  }
  .result-description-a
  {
    text-decoration: none;
    color: var(--basic-black);
  }
  .button-detail
  {
    margin-right: 6px;
  }
  .button-confirm a
  {
    display: block;
    width: 142px;
    height: 27px;
    font-weight:700;
    padding: 0;
    margin-top: 12px;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--button);
  }

  .button-detail a
  {
   display: block;
   width: 110px;
   height: 27px;
   font-weight:700;
   /* padding: 3px 17px; */
   margin-top: 12px;
   text-align: center;
   color: var(--basic-white);
   background-color: var(--basic-blue);
  }
  .rating
  {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 90px;

  justify-content: space-between;
}
  .rating-star{
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 4px;
    justify-content: flex-end

  }
.rating-star li
  {
   list-style: none;
   padding-left: 5px;

  }
  .rating-figure {
    width: 110px;
    height: 27px;
    margin-left: -5px;
    color: var(--rating);
    background-color: var(--background-color);
    text-align: center;
  }
  .result-description-a:hover
  {
    color: var(--basic-blue);
  }
  .result-description-a:active
  { color: var(--basic-black);
    opacity: 0.3;
  }

 .button-detail a:hover
  {
   color: var(--basic-white);
   background-color: var(--button-detail-hover);
  }
  .button-detail a:active
  {
    background-color: var(--button-detail-hover);
    color: var(--button-visibility);
  }
  .button-confirm a:hover
  {
   color: var(--basic-white);
   background-color: var(--button-hover);
  }
  .button-confirm a:active
  {
   color: var(--button-visibility);
   background-color: var(--button-active);
  }









