:root
{
    --basic-white: #fff;
    --basic-black: #000;
    --basic-black-opacity: rgba(0, 0, 0, .3);
    --basic-blue: #81b3d2;
    --basic-gray: #eee;
    --background-color: #f2f2f2;
    --background-color-opacity: rgba(255, 255, 255, .3);
    --button: #766357;
    --button-hover: #604e43;
    --button-active: #503e33;
    --button-visibility: rgba(255, 255, 255, .3);
    --social-button-hover: #669ec0;
    --social-button-active: #5496bd;
    --from-to: #cacaca;
    --button-detail-hover: #669ec0;
    --foother-color: rgba(255, 255, 255, .9);
    --bottom: #e5e5e5;
    --rating: #666;
    --toggle: #ababab;
    --box-shadow: rgba(0, 1, 1, .2);
    --search-shadow: rgba(0, 1, 1, .15);
    --amount-button: #a9a9a9;
    --footer-logo: #bdbbbc;
    --box-item-color: #333333;
}
.page
{
    height: 100%;
}
.page-body
{
    font-family: "PT Sans", "arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    display: grid;
    min-width: 960px;
    max-width: 1200px;
    min-height: 100%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--background-color);
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}
.main-header
{
    width: 1200px;

    background-color: var(--basic-white);
}
.container
{
    position: relative;

    width: 1200px;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0 0 15px 5px var(--box-shadow);
}
.center
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.site-nav {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.site-nav-1 {
  width: 240px;
  margin-left: 73px;
  text-align: left;
}
.site-nav-2 {
  width: 240px;
  margin-left: -12px;
  text-align: left;
}
.site-nav-3 {
  width: 240px;
  margin-left: 121px;
  text-align: right;
}
.site-nav-4 {
  width: 240px;
  text-align: right;
  margin-left: -14px;
}
.site-nav .item-active {
  color: var(--button);
}
.header-logo
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50%;

    display: block;

    margin-right: -69px;
}
.site-nav a
{
    color: var(--basic-black);
}

.site-nav a:hover
{
    color: var(--basic-blue);
}
.site-nav a:active
{
    color: var(--basic-black-opacity);
}

.site-nav a:focus
{
    color: var(--button);
}






.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}
.title-img
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 509;

    background-color: var(--background-color);
    background-image: url(../img/backgroundphoto.jpg);

    align-items: center;
}
.title-img::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 55px;
    margin-top: 20px;

    content: '';

    background-image: url(../img/bottomwelcome.svg);
}
.welcome-svg
{
    padding-top: 77px;
}
.gorgeous-svg
{
    padding-top: 10px;
}
.sedona-svg
{
    padding-top: 53px;
    padding-bottom: 80px;
}



.slogan-site
{
    box-sizing: border-box;
    width: 1200px;
    margin: 0;
    padding: 0;

    text-align: center;

    background-color: var(--basic-white);
}
.slogan-site b {
  font-size: 21px;
  line-height: 26px;
  display: block;
  padding-top: 44px;
  padding-bottom: 43px;
  margin-left: 380px;
  margin-right: 380px;
}

.slogan-site span
{
    font-size: 14px;
    line-height: 26px;
    color: var(--box-item-color);

    display: block;

    padding-bottom: 52px;
}

.block-l
{
    display: grid;

    width: 1200px;

    grid-template-columns: 400px 800px;
}




.block-left
{
    box-sizing: border-box;
    width: 400px;
    height: 256px;
    padding-top: 46px;
    padding-right: 47px;
    padding-bottom: 54px;
    padding-left: 47px;

    text-align: center;

    color: var(--basic-white);
    background-color: var(--basic-blue);
}




.img-block-left
{
    width: 800px;
    height: 256px;
}
.block-left b
{
    font-size: 21px;
    line-height: 21px;

    display: block;

    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    text-align: center;
}
.block-left span
{
  line-height: 21px;
}
.block-left p
{
    line-height: 21px;

    display: block;

    margin-top: 21px;
    padding: 0;
}
.thumb-list
{
    display: flex;

    background-color: var(--basic-white);
}
.thumb-items
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 300px;
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;
}
.thumb-items h2
{
    margin: 0;
    padding: 0;
    padding-top: 159px;
    line-height: 21px;
}
.thumb-items p {
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 82px;
  color: var(--box-item-color);
}

.thumb-items:nth-child(1) .icon-svg
{
    position: absolute;
    top: 60px;
    right: 163px;

    width: 75px;
    height: 72px;

    background-image: url(../img/icon1.svg);
}
.thumb-items:nth-child(3) .icon-svg
{
    position: absolute;
    top: 55px;
    left: 168px;

    width: 64px;
    height: 77px;

    background-image: url(../img/icon2.svg);
}
.thumb-items:nth-child(2) .icon-svg
{
    position: absolute;
    top: 61px;
    left: 163px;

    width: 75px;
    height: 70px;

    background-image: url(../img/icon3.svg);
    background-repeat: no-repeat;
}

.block-r
{
    display: grid;

    width: 1200px;

    grid-template-columns: 800px 400px;
}
.block-right
{
    box-sizing: border-box;
    width: 400px;
    height: 256px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-right: 48px;
    padding-bottom: 52px;
    padding-left: 50px;

    text-align: center;

    color: var(--basic-white);
    background-color: var(--basic-blue);
}
.block-right p
{
    line-height: 21px;

    margin: 0;
    padding: 0;
}

.img-block-right
{
    width: 800px;
    height: 256px;
    margin: 0;
    padding: 0;
}
.block-right b {
  font-size: 21px;
  line-height: 21px;
  display: block;

  margin-left: 75px;
  margin-right: 76px;
  text-align: center;
}


.block-right span
{
    display: block;
    padding-top: 27px;
    line-height: 21px;
    margin-bottom: 21px;
}
.box-list
{
    display: flex;

    box-sizing: border-box;
    width: 1200px;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;

    background-color: var(--basic-gray);
}
.box-item
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 400px;

}

.box-item b {
  font-size: 21px;
  line-height: 21px;
  padding-top: 47px;
  text-align: center;
  width: 160px;
  padding-left: 120px;
}
.box-item p
{
    font-size: 14px;
    line-height: 21px;

    padding-top: 9px;
    padding-bottom: 41px;
    color: var(--box-item-color);
    text-align: center;
}
.box-item span
{
    font-size: 14px;
    line-height: 21px;

    padding-top: 26px;
    color: var(--box-item-color);
    text-align: center;
}
.box-item-1 p
{
  width: 400px;
}
.box-item-2 p {
  width: 280px;
  padding-left: 60px;
}
.box-item-3 p {
  width: 250px;
  padding-left: 76px;
}
.button
{
    width: 586px;
    height: 86px;
}

.filters
{
    display: flex;

    text-align: start;

    background-color: var(--basic-white);
    background-image: url(../img/backgroundcatalog.jpg);
}
.filter-option
{
    padding-top: 25px;
    padding-left: 42px;
}
.filter-option label
{
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}
.filter-input-checkbox + label::before
{
    position: absolute;
    top: 0;
    left: -40px;

    width: 23px;
    height: 23px;

    content: '';

    background-image: url(../img/checkbox-off.svg);
}
.filter-input-checkbox:checked + label::before
{
    position: absolute;
    top: 0;
    left: -40px;

    width: 26px;
    height: 23px;

    content: '';

    background-image: url(../img/checkbox-on.svg);
}
.filter-input-checkbox:checked:disabled + label::before
{
    position: absolute;
    top: 0;
    left: -40px;
    width: 26px;
    height: 23px;
    content: '';
    background-image: url(../img/checkbox-on-disabled.svg);
    background-repeat: no-repeat;
}
.filter-input-checkbox:disabled + label::before
{
    position: absolute;
    top: 0;
    left: -40px;
    width: 26px;
    height: 23px;
    content: '';
    background-image: url(../img/checkbox-off-disabled.svg);
    background-repeat: no-repeat;
}


.filter-benefits
{
    width: 250px;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    padding-left: 70px;
}
.filter-benefits ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.filter-benefits legend
{
    font-size: 16px;
    font-weight: 700;

    padding-top: 26px;
}


.filter-type
{
    width: 300px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.filter-type legend
{
    font-size: 16px;
    font-weight: 700;

    padding-top: 26px;
}
.filter-type ul
{
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 0;

    list-style: none;
    list-style: none;
}


.slider-price legend
{
    font-size: 16px;
    font-weight: 700;

    padding-top: 23px;

    color: var(--basic-white);
}
.range-filter
{
    position: relative;

    width: 350px;
    margin-top: 5px;
    margin-left: 3px;
}
.range-controls
{
    position: relative;

    width: 316px;
}
.range-controls .scale {
  height: 2px;
  width: 183px;
  margin-top: 20px;
  padding-right: 73px;
  background: var(--basic-white);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--background-color-opacity);
  padding-left: 170px;
}
.range-controls .toggle
{
    position: absolute;
    top: -10px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: var(--toggle);
    box-shadow: 0 2px 1px 0 var(--toggle);
}
.min-price
{
    padding-left: 65px;
}

.max-price
{
    padding-left: 63px;
}
.price-controls
{
    display: flex;

    width: 312px;
    height: 32px;

    border: 2px solid var(--basic-white);
    border-radius: 2px;
}
.range-filter::after
{
    position: absolute;
    top: 7px;
    left: 158px;

    width: 2px;
    height: 22px;

    content: '';

    background-image: url(../img/stick.svg);
}
.price-controls label
{
    display: flex;

    align-items: center;
    justify-content: center;
}
.price-controls input
{
    font-family: inherit;
    font-size: inherit;

    width: 60px;
    margin: 0;
    padding-top: 0;
    padding-right: 5px;
    line-height: 21px;

    color: var(--basic-white);
    border: none;
    background: none;
}

.range-controls .toggle-max
{
    left: 252px;
}
.box-button
{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    text-align: center;
    background-color: var(--basic-white);
}

.range-controls button
{
    font-size: 14px;
    line-height: 21px;
    font: inherit;

    position: absolute;
    top: 35px;
    right: 95px;

    padding: 3px 33px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    background: none;
}

.box-button b
{
    font-size: 30px;
    line-height: 24px;
    padding-right: 10px;
    padding-bottom: 34px;
    text-align: center;
}
.box-button span {
  font-size: 14px;
  line-height: 24px;
  color: var(--box-item-color);
  text-align: center;
}
.button {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 568px;
  height: 86px;
  margin-left: 316px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background-color: var(--button);
  margin-top: 43px;
}
.button:hover
{
    background-color: var(--button-hover);
}
.button:active
{
    color: var(--button-visibility);
    background-color: var(--button-active);
}
.range-controls button:hover
{
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.toggle:hover
{
    transform: scale(1.2);
}
.search-form:focus input
{
    outline: 2px solid var(--bottom);
    background-color: var(--basic-white);
}

.search-form
{
    font-weight: bold;
    line-height: 26px;

    position: absolute;
    left: 50%;

    display: flex;

    box-sizing: border-box;
    width: 568px;
    height: 395px;
    margin-left: -284px;
    padding: 55px;
    background-color: var(--basic-white);
    box-shadow: var(--search-shadow);
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}
.search-form .departure
{
    padding-bottom: 20px;
}
.search-form input[name="date-of-entry"] {
  width: 327px;
  height: 31px;
  background-color: var(--background-color);
  border: none;
  text-transform: uppercase;
  font: inherit;
  padding-left: 13px;
  margin-left: 23px;
  border: 2px solid var(--background-color);
  cursor: pointer;
}
.search-form input[name="date-of-departure"] {
  width: 329px;
  height: 31px;
  background-color: var(--background-color);
  border: none;
  text-transform: uppercase;
  font: inherit;
  margin-bottom: 19px;
  margin-left: 20px;
  padding-left: 11px;
  border: 2px solid var(--background-color);
  cursor: pointer;
}


.entry-calendar
{
    position: absolute;
    top: 62px;
    right: 58px;
    border: none;
    background: inherit;
}
.entry-calendar svg
{
    fill: var(--amount-button);
}
.departure-calendar
{
    position: absolute;
    top: 130px;
    right: 58px;
    border: none;
    background: inherit;
}
.departure-calendar svg
{
    fill: var(--amount-button);
}
.amount
{
    display: flex;

    box-sizing: border-box;
    width: 458px;
    height: 40px;
    padding-bottom: 42px;

    justify-content: space-between;
    align-items: center;
}
.amount label
{
  padding-top: 1px;
}
.amount button
{
    width: 40px;
    height: 37px;

    color: var(--amount-button);
    border: none;
    background-color: var(--background-color);
}
.amount input {
  width: 26px;
  height: 31px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  border: none;
  background-color: var(--background-color);
  border: 2px solid var(--background-color);
  cursor: pointer;
}
.button-minus-adults
{
    position: relative;

    margin-left: 41px;
}
.button-minus-adults svg
{
    position: absolute;
    top: 18px;
    left: 13px;

    fill: var(--amount-button);
}
.button-plus-adults
{
    position: relative;

    margin-right: 53px;
}
.button-plus-adults svg
{
    position: absolute;
    top: 14px;
    left: 15px;

    fill: var(--amount-button);
}
.button-minus-children
{
    position: relative;

    margin-left: 26px;
}
.button-minus-children svg
{
    position: absolute;
    top: 18px;
    left: 15px;

    fill: var(--amount-button);
}
.button-plus-children
{
    position: relative;
}
.button-plus-children svg
{
    position: absolute;
    top: 14px;
    left: 17px;

    fill: var(--amount-button);
}
.map iframe
{
    width: 1199px;
    height: 594px;

    border: 0;
    background: var(--background-color);
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}
.search-button
{
    font: inherit;
    font-size: 21px;
    line-height: 21px;

    width: 100%;
    width: 458px;
    height: 58px;

    text-transform: uppercase;

    color: var(--basic-white);
    border: medium;
    background-color: var(--basic-blue);
}



.main-footer
{
    position: absolute;
    bottom: 7px;
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    height: 120px;
    background-color: var(--foother-color);
    align-self: center;
    justify-content: space-between;
}
.main-footer-catalog
{
    bottom: 0px;
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    height: 120px;

    background-color: var(--foother-color);

    align-self: center;
    justify-content: space-between;
}






.footer-contact
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 12px ;

    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.social-button
{
    display: flex;

    box-sizing: border-box;
    width: 400px;

    align-items: center;
    justify-content: center;

}
.footer-logo
{
    display: flex;

    box-sizing: border-box;
    width: 400px;

    align-items: center;
    justify-content: center;
}
.footer-logo-link svg
{
    padding-top: 5px;
    padding-right: 65px;

    fill: var(--basic-black);
}
.footer-logo span
{
    padding-right: 15px;
    padding-bottom: 2px;
}

.contact-tel
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    margin-left: 72px;

    text-align: center;
    text-decoration: none;

    color: var(--basic-black);
}
.contact-tag
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    box-sizing: border-box;
    margin-left: 73px;
    padding-top: 10px;
    padding-bottom: 9px;

    text-align: center;
    text-decoration: none;

    color: var(--basic-black);
}
.twitter
{
    position: relative;

    width: 46px;
    height: 48px;
    margin-right: 6px;

    background-color: var(--basic-blue);
}

.twitter a
{
    position: absolute;
    top: 14px;
    right: 14px;
}
.facebook a
{
    position: absolute;
    top: 13px;
    right: 17px;
}
.youtube a
{
    position: absolute;
    top: 13px;
    right: 13px;
}
.facebook,
.youtube
{
    position: relative;

    width: 46px;
    height: 48px;
    margin-right: 6px;

    background-color: var(--basic-blue);
}
.youtube
{
    margin-right: 0;
}
.search-form input[name="date-of-entry"]:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--bottom);
}
.search-form input[name="date-of-departure"]:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--bottom);

}
.amount input:focus
{
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--bottom);

}
.button-minus-adults:hover svg
{
    fill: var(--basic-black);
}
.button-minus-adults:active svg
{
    fill: var(--basic-blue);
}
.button-plus-adults:hover svg
{
    fill: var(--basic-black);
}
.button-plus-adults:active svg
{
    fill: var(--basic-blue);
}
.button-minus-children:hover svg
{
    fill: var(--basic-black);
}
.button-minus-children:active svg
{
    fill: var(--basic-blue);
}
.button-plus-children:hover svg
{
    fill: var(--basic-black);
}
.button-plus-children:active svg
{
    fill: var(--basic-blue);
}
.entry svg:hover
{
    fill: var(--basic-black);
}
.entry svg:active
{
    fill: var(--basic-blue) ;
}
.departure svg:hover
{
    fill: var(--basic-black);
}
.departure svg:active
{
    fill: var(--basic-blue);
}
.search-button:hover
{
    background-color: var(--social-button-hover);
}
.search-button:active
{
    color: var(--button-visibility);
    background-color: var(--social-button-active);
}
.twitter:hover
{
    background-color: var(--social-button-hover);
}
.twitter:active
{
    background-color: var(--social-button-active);
}
.twitter:active img
{
    opacity: .5;
}
.facebook:hover
{
    background-color: var(--social-button-hover);
}
.facebook:active
{
    background-color: var(--social-button-active);
}
.facebook:active img
{
    opacity: .5;
}
.youtube:hover
{
    background-color: var(--social-button-hover);
}
.youtube:active img
{
    opacity: .5;
}
.youtube:active
{
    background-color: var(--social-button-active);
}
.footer-logo-link:hover svg
{
    fill: var(--basic-blue);
}
.footer-logo-link:active svg
{
    fill: var(--footer-logo);
}
.filter
{
    display: grid;

    background-image: url(../img/backgroundcatalog.jpg) ;

    grid-template-columns: 1fr 1fr 1fr;
}

.filter ul
{
    list-style: none;
}
.filter legend
{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    color: var(--basic-white);
}
.filter-benefits
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: var(--basic-white);
    border: none;
}
.filter-type
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: var(--basic-white);
    border: none;
}
.slider-price
{
    padding-left: 181px;

    border: none;
}
.slider-price label
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: var(--basic-white);
    background: none;
}
.price-button
{
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: var(--basic-white);
    border-style: solid;
    border-color: var(--basic-white);
    border-radius: 2px;
}
.price-button:hover
{
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.sort
{
    display: flex;

    box-sizing: border-box;
    width: 1200px;
    padding-top: 29px;
    padding-right: 73px ;
    padding-bottom: 31px;
    padding-left: 73px;

    border-bottom: 1px solid var(--bottom);
    background-color: var(--basic-white);

    align-items: center;
}
.sorting-result
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 163px;

    color: var(--basic-black);
}
.sorting
{
    font-size: 12px;

    display: flex;

    width: 845px;
}

.sorting-list
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-left: 40px;

    list-style: none;

    color: var(--basic-black);
}
.sorting-list .item-active
{
   color: var(--basic-blue);
   border-bottom: none;
   opacity: 1;
}
.sorting-item
{
    padding-right: 33px;
}
.sorting-item a
{
    opacity: .3;
    color: var(--basic-black);
    border-bottom: 1px dashed var(--basic-blue);
}
.sorting-from
{
    display: flex;
}

.sorting-from-list
{
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}
.sorting-from-list li
{
    padding-left: 12px;
}
.sorting-from-link svg
{
    fill: var(--from-to);
}
.item-active svg
{
  fill: var(--basic-blue);
}

.sorting-item a:hover
{
    opacity: 1;
    color: var(--basic-blue);
}
.sorting-item a:focus
{
    opacity: 1;
    color: var(--basic-blue);
    border-bottom: none;
}
.sorting-item a:active
{
    opacity: 1;
    color: var(--basic-black);
    border-bottom: none;
}
.sort-from
{
    font-size: 11px;

    text-decoration: none;

    color: var(--from-to);
}
.sorting-from-link:hover svg
{
    fill: var(--basic-black);
}
.sorting-from-link:focus svg
{
    fill: var(--basic-blue);
}
.sorting-from-link:active svg
{
    fill: var(--basic-blue);
}
.result
{
  width: 1200px;
}
.list-result
{
    display: flex;

    width: auto;
    height: 150px;
    padding-left: 73px;

    border-bottom: 1px solid var(--bottom);
    background-color: var(--basic-white);

    align-items: center;
}
.result-img
{
    display: block;

    width: 164px;
    height: 90px;
}
.result-description
{
    display: flex;

    width: 780px;
    min-height: 100px;
    margin-right: 6px;

    flex-wrap: wrap;
    align-content: flex-start;
}

.result-description-h2
{
    min-width: 780px;
    margin: 0;
    padding-bottom: 5px;
}
.result-description-a
{
    text-decoration: none;

    color: var(--basic-black);
}
.button-detail
{
    margin-right: 6px;
}
.button-detail span
{
  line-height: 21px;
  color: var(--box-item-color);
}
.button-confirm span
{
  line-height: 21px;
  color: var(--box-item-color);
}
.button-confirm a {
  font-weight: 700;
  display: block;
  line-height: 21px;
  width: 142px;
  height: 24px;
  margin-top: 12px;
  padding-top: 3px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--button);
}

.button-detail a {
  font-weight: 700;
  line-height: 21px;
  display: block;
  width: 110px;
  height: 24px;
  padding-top: 3px;
  margin-top: 12px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.rating
{
    display: flex;
    flex-direction: column;

    width: 110px;
    height: 90px;

    justify-content: space-between;
}
.rating-star
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-right: 4px;

    justify-content: flex-end;
}
.rating-star li
{
    padding-left: 5px;

    list-style: none;
}
.rating-figure
{
    width: 110px;
    height: 23px;
    padding-top: 4px;
    margin-left: -5px;
    line-height: 21px;

    text-align: center;

    color: var(--rating);
    background-color: var(--background-color);
}
.result-description-a:hover
{
    color: var(--basic-blue);
}
.result-description-a:active
{
    opacity: .3;
    color: var(--basic-black);
}

.button-detail a:hover
{
    color: var(--basic-white);
    background-color: var(--button-detail-hover);
}
.button-detail a:active
{
    color: var(--button-visibility);
    background-color: var(--button-detail-hover);
}
.button-confirm a:hover
{
    color: var(--basic-white);
    background-color: var(--button-hover);
}
.button-confirm a:active
{
    color: var(--button-visibility);
    background-color: var(--button-active);
}






