:root
{
    --basic-white: #fff;
    --basic-black: #000;
    --basic-black-opacity: rgba(0, 0, 0, .3);
    --basic-blue: #81b3d2;
    --basic-gray: #eee;
    --background-color: #f2f2f2;
    --background-color-opacity: rgba(255, 255, 255, .3);
    --button: #766357;
    --button-hover: #604e43;
    --button-active: #503e33;
    --button-visibility: rgba(255, 255, 255, .3);
    --social-button-hover: #669ec0;
    --social-button-active: #5496bd;
    --from-to: #cacaca;
    --button-detail-hover: #669ec0;
    --foother-color: rgba(255, 255, 255, .9);
    --bottom: #e5e5e5;
    --rating: #666;
    --toggle: #ababab;
    --box-shadow: rgba(0, 1, 1, .2);
    --search-shadow: rgba(0, 1, 1, .15);
    --amount-button: #a9a9a9;
    --footer-logo: #bdbbbc;
    --box-item-color: #333333;
}
.page
{
    height: 100%;
}
.page-body
{
    font-family: "PT Sans", "arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    display: grid;

    min-width: 960px;
    max-width: 1200px;
    min-height: 100%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    text-transform: uppercase;

    color: var(--basic-black);
    background-color: var(--background-color);

    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}
/*Гриды*/



/* Навигация*/
/*лого*/
.main-header
{
    width: 1200px;

    background-color: var(--basic-white);
}
.container
{
    position: relative;

    width: 1200px;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0 0 15px 5px var(--box-shadow);
}
.center
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.site-nav
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    display: flex;

    box-sizing: border-box;
    width: 1200px;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 15px;

    list-style: none;

    flex-wrap: wrap;
    align-items: center;
}
.site-nav-1
{
    padding-left: 72px;
}
.site-nav-2
{
    margin-right: 418px;
    padding-left: 134px;
}
.site-nav-3
{
    padding-left: 1px;
}
.site-nav-4
{
    padding-left: 147px;
}
.header-logo
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50%;

    display: block;

    margin-right: -69px;
    /*
логотип плавает
*/
}
/* .site-nav-3 {
  padding-left: 418px;
} */

.site-nav a
{
    color: var(--basic-black);
}
.site-nav a:hover
{
    color: var(--basic-blue);
}
.site-nav a:focus
{
    color: var(--button);
}

.site-nav a:active
{
    color: var(--basic-black-opacity);
}


/* .sort-from:hover
наведение
{
 color: var(--basic-black);
}
.sort-from:focus
выбранный
{
 color: var(--basic-blue);
}
.sort-from:active
нажатие
{
 color: var(--basic-blue);
} */
.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}
/*шапка*/

/*Тело*/
.title-img
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 509;

    background-color: var(--background-color);
    background-image: url(../img/backgroundphoto.jpg);

    align-items: center;
}
.title-img::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 55px;
    margin-top: 20px;

    content: '';

    background-image: url(../img/bottomwelcome.svg);
}
.welcome-svg
{
    padding-top: 77px;
}
.gorgeous-svg
{
    padding-top: 10px;
}
.sedona-svg
{
    padding-top: 53px;
    padding-bottom: 80px;
}



.slogan-site
{
    /*
  padding-bottom: 51px;*/
    box-sizing: border-box;
    width: 1200px;
    margin: 0;
    padding: 0;

    text-align: center;

    background-color: var(--basic-white);
}

.slogan-site b
{
    font-size: 21px;
    line-height: 26px;
    /*По макету 42.5 пикселя отступ сверху как так?*/

    display: block;

    margin-bottom: 12px;
    padding-top: 43px;
}
.slogan-site span
{
    font-size: 14px;
    line-height: 26px;
    color: var(--box-item-color);

    display: block;

    padding-bottom: 50px;
}

/*синий блок слева*/
.block-l
{
    display: grid;

    width: 1200px;

    grid-template-columns: 400px 800px;
}




.block-left
{
    box-sizing: border-box;
    width: 400px;
    height: 256px;
    padding-top: 46px;
    padding-right: 47px;
    padding-bottom: 54px;
    /* НИЖЕ Паддинги не по макету почему то спан не умещается
  нужно спросить
  по макету 49 пх*/
    padding-left: 47px;

    text-align: center;

    color: var(--basic-white);
    background-color: var(--basic-blue);
}




.img-block-left
{
    width: 800px;
    height: 256px;
}
.block-left b
{
    font-size: 21px;
    line-height: 21px;

    display: block;

    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    text-align: center;
}
.block-left span
{
  line-height: 21px;
}
.block-left p
{
    line-height: 21px;

    display: block;

    margin-top: 21px;
    padding: 0;
}
.thumb-list
{
    display: flex;

    background-color: var(--basic-white);
}
.thumb-items
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 400px;

    text-align: center;
}
.thumb-items h2
{
    margin: 0;
    padding: 0;
    padding-top: 157px;
    line-height: 21px;
}
.thumb-items p
{
    line-height: 21px;

    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 81px;
}

.thumb-items:nth-child(1) .icon-svg
{
    position: absolute;
    top: 60px;
    right: 163px;

    width: 75px;
    height: 72px;

    background-image: url(../img/icon1.svg);
}
.thumb-items:nth-child(3) .icon-svg
{
    position: absolute;
    top: 55px;
    left: 168px;

    width: 64px;
    height: 77px;

    background-image: url(../img/icon2.svg);
}
.thumb-items:nth-child(2) .icon-svg
{
    position: absolute;
    top: 61px;
    left: 163px;

    width: 75px;
    height: 70px;

    background-image: url(../img/icon3.svg);
    background-repeat: no-repeat;
}
/*
{ box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  align-items: center;

}
Как поступить с иконками?
.icon-svg {

  padding-bottom: 28px;
}
.thumb-item {

 flex-grow: 1;

}
.thumb-item p {
box-sizing: border-box;
display: block;
margin: 0;
padding: 0;
}
.thumb-item h2 {
  margin: 0;
  padding: 0;
  }
.icon-svg-1
{
padding-top: 60px;
}
.icon-svg-2
{
padding-top: 61px;
}
.icon-svg-3
{
padding-top: 56px;
} */

/* Синий блок справа*/

.block-r
{
    display: grid;

    width: 1200px;

    grid-template-columns: 800px 400px;
}
.block-right
{
    box-sizing: border-box;
    width: 400px;
    height: 256px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-right: 48px;
    padding-bottom: 52px;
    padding-left: 50px;

    text-align: center;

    color: var(--basic-white);
    background-color: var(--basic-blue);
}
.block-right p
{
    line-height: 21px;

    margin: 0;
    padding: 0;
}

.img-block-right
{
    width: 800px;
    height: 256px;
    margin: 0;
    padding: 0;
}

.block-right b
{
    font-size: 21px;
    line-height: 21px;

    display: block;

    margin-bottom: 23px;

    text-align: center;
}
.block-right span
{
    display: block;
    line-height: 21px;
    margin-bottom: 21px;
}
/*серый блок*/
.box-list
{
    display: flex;
    /* align-items: center; */

    box-sizing: border-box;
    width: 1200px;
    margin: 0;
    /* height: 256px; */
    padding: 0;

    list-style: none;

    text-align: center;

    background-color: var(--basic-gray);
}
.box-item
{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 400px;

}
/* .box-item-1
{
  margin-left: 30px;
} */

.box-item b
{
    font-size: 21px;
    line-height: 21px;

    padding-top: 47px;

    text-align: center;
}
.box-item p
{
    font-size: 14px;
    line-height: 21px;

    padding-top: 9px;
    padding-bottom: 41px;
    color: var(--box-item-color);
    text-align: center;
}
.box-item span
{
    font-size: 14px;
    line-height: 21px;

    padding-top: 26px;
    color: var(--box-item-color);
    text-align: center;
}
/*блок с кнопкой поиска*/
.button
{
    width: 586px;
    height: 86px;
}

.filters
{
    display: flex;

    text-align: start;

    background-color: var(--basic-white);
    background-image: url(../img/backgroundcatalog.jpg);
}
.filter-option
{
    padding-top: 25px;
    padding-left: 42px;
}
.filter-option label
{
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}
.filter-input-checkbox + label::before
{
    position: absolute;
    top: 0;
    left: -40px;

    width: 23px;
    height: 23px;

    content: '';

    background-image: url(../img/checkbox-off.svg);
}
.filter-input-checkbox:checked + label::before
{
    position: absolute;
    top: 0;
    left: -40px;

    width: 26px;
    height: 23px;

    content: '';

    background-image: url(../img/checkbox-on.svg);
}
.filter-input-checkbox:disabled + label::before
{
    position: absolute;
    top: 0;
    left: -40px;

    width: 26px;
    height: 23px;

    content: '';

    background-image: url(../img/checkbox-on-disabled.svg);
    background-repeat: no-repeat;
}
.filter-input-checkbox:disabled + label::before
{
    position: absolute;
    top: 0;
    left: -40px;

    width: 26px;
    height: 23px;

    content: '';

    background-image: url(../img/checkbox-off-disabled.svg);
    background-repeat: no-repeat;
}


.filter-benefits
{
    width: 250px;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    padding-left: 70px;
}
.filter-benefits ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.filter-benefits legend
{
    font-size: 16px;
    font-weight: 700;

    padding-top: 26px;
}


.filter-type
{
    width: 300px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.filter-type legend
{
    font-size: 16px;
    font-weight: 700;

    padding-top: 26px;
}
.filter-type ul
{
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 0;

    list-style: none;
    list-style: none;
}


.slider-price legend
{
    font-size: 16px;
    font-weight: 700;

    padding-top: 23px;

    color: var(--basic-white);
}
.range-filter
{
    position: relative;

    width: 350px;
    margin-top: 5px;
    margin-left: 3px;
}
.range-controls
{
    position: relative;

    width: 316px;
}
.range-controls .scale
{
    height: 2px;
    margin-top: 20px;
    padding-right: 73px;

    background: var(--basic-white);
}
.range-controls .bar
{
    width: 80%;
    height: 2px;

    background: var(--background-color-opacity);
    /* не работает  почему? */
}
.range-controls .toggle
{
    position: absolute;
    top: -10px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: var(--toggle);
    box-shadow: 0 2px 1px 0 var(--toggle);
}
.min-price
{
    padding-left: 65px;
}

.max-price
{
    padding-left: 63px;
}
.price-controls
{
    display: flex;

    width: 312px;
    height: 32px;

    border: 2px solid var(--basic-white);
    border-radius: 2px;
}
.range-filter::after
{
    position: absolute;
    top: 7px;
    left: 158px;

    width: 2px;
    height: 22px;

    content: '';

    background-image: url(../img/stick.svg);
}
.price-controls label
{
    display: flex;

    align-items: center;
    justify-content: center;
}
.price-controls input
{
    font-family: inherit;
    font-size: inherit;

    width: 60px;
    margin: 0;
    padding-top: 0;
    padding-right: 5px;
    line-height: 21px;

    color: var(--basic-white);
    border: none;
    background: none;
}

.range-controls .toggle-max
{
    left: 252px;
}
.box-button
{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr; */

    padding-top: 55px;

    text-align: center;

    background-color: var(--basic-white);
}

.range-controls button
{
    font-size: 14px;
    line-height: 21px;
    font: inherit;

    position: absolute;
    top: 35px;
    right: 95px;

    padding: 6px 32px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    background: none;
}

.box-button b
{
    font-size: 30px;
    line-height: 24px;

    padding-right: 10px;
    padding-bottom: 8px;

    text-align: center;
}
.box-button span
{
    font-size: 14px;
    line-height: 24px;

    padding-bottom: 17px;
   color:  var(--box-item-color);
    text-align: center;
}
.button
{
    font: inherit;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 568px;
    height: 86px;
    margin-left: 316px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: var(--basic-white);
    border: none;
    background-color: var(--button);
}
.button:hover
{
    background-color: var(--button-hover);
}
.button:active
{
    color: var(--button-visibility);
    background-color: var(--button-active);
}
.range-controls button:hover
{
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.toggle:hover
{
    transform: scale(1.2);
}
.search-form:focus input
{
    outline: 2px solid var(--bottom);
    background-color: var(--basic-white);
}
/* .range-controls .toggle:hover
{

}

.map
{
  display: flex;
  position: relative;
  /* width: 1200px;
  height: 594px; */


.search-form
{
    font-weight: bold;
    line-height: 26px;

    position: absolute;
    left: 50%;

    display: flex;

    box-sizing: border-box;
    width: 568px;
    height: 395px;
    margin-left: -284px;
    padding: 55px;

    background-color: var(--basic-white);
    box-shadow: var(--search-shadow);

    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}

.search-form .departure
{
    padding-bottom: 20px;
}
.search-form input[name='date-of-entry']
{
    font: inherit;

    width: 331px;
    height: 35px;
    margin-left: 23px;
    padding-left: 13px;

    text-transform: uppercase;

    border: none;
    background-color: var(--background-color);
}
.search-form input[name='date-of-departure']
{
    font: inherit;

    width: 331px;
    height: 35px;
    margin-bottom: 19px;
    margin-left: 20px;
    padding-left: 13px;

    text-transform: uppercase;

    border: none;
    background-color: var(--background-color);
}

.entry-calendar
{
    position: absolute;
    top: 63px;
    right: 64px;
    border: none;
}
.entry-calendar svg
{
    fill: var(--amount-button);
}
.departure-calendar
{
    position: absolute;
    top: 130px;
    right: 64px;
    border: none;
}
.departure-calendar svg
{
    fill: var(--amount-button);
}
.amount
{
    display: flex;

    box-sizing: border-box;
    width: 458px;
    height: 40px;
    padding-bottom: 42px;

    justify-content: space-between;
    align-items: center;
}
.amount button
{
    width: 40px;
    height: 37px;

    color: var(--amount-button);
    border: none;
    background-color: var(--background-color);
}
.amount input
{
    width: 30px;
    height: 35px;
    font: inherit;
    font-size: 14px;
    line-height: 26px;

    text-align: center;

    border: none;
    background-color: var(--background-color);
}
.button-minus-adults
{
    position: relative;

    margin-left: 41px;
}
.button-minus-adults svg
{
    position: absolute;
    top: 18px;
    left: 13px;

    fill: var(--amount-button);
}
.button-plus-adults
{
    position: relative;

    margin-right: 53px;
}
.button-plus-adults svg
{
    position: absolute;
    top: 14px;
    left: 15px;

    fill: var(--amount-button);
}
.button-minus-children
{
    position: relative;

    margin-left: 26px;
}
.button-minus-children svg
{
    position: absolute;
    top: 18px;
    left: 15px;

    fill: var(--amount-button);
}
.button-plus-children
{
    position: relative;
}
.button-plus-children svg
{
    position: absolute;
    top: 14px;
    left: 17px;

    fill: var(--amount-button);
}
.map iframe
{
    width: 1199px;
    height: 594px;

    border: 0;
    background: var(--background-color);
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}
.search-button
{
    font: inherit;
    font-size: 21px;
    line-height: 21px;

    width: 100%;
    width: 458px;
    height: 58px;

    text-transform: uppercase;

    color: var(--basic-white);
    border: medium;
    background-color: var(--basic-blue);
}



/*футер*/
.main-footer
{
    /* padding: 36px 0; */
    position: absolute;
    bottom: 0;

    display: flex;

    box-sizing: border-box;
    width: 1200px;
    height: 120px;

    background-color: var(--foother-color);

    align-self: center;
    justify-content: space-between;
}
.main-footer-catalog
{
    /* padding: 36px 0; */
    /* position: absolute; */
    bottom: 0;

    display: flex;

    box-sizing: border-box;
    width: 1200px;
    height: 120px;

    background-color: var(--foother-color);

    align-self: center;
    justify-content: space-between;
}






.footer-contact
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 12px ;

    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.social-button
{
    display: flex;

    box-sizing: border-box;
    width: 400px;

    align-items: center;
    justify-content: center;

    /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}
.footer-logo
{
    display: flex;

    box-sizing: border-box;
    width: 400px;

    align-items: center;
    justify-content: center;
}
.footer-logo-link svg
{
    padding-top: 5px;
    padding-right: 65px;

    fill: var(--basic-black);
}
.footer-logo span
{
    padding-right: 15px;
    padding-bottom: 2px;
}

/*.footer
{
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;

}*/
.contact-tel
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    margin-left: 72px;

    text-align: center;
    text-decoration: none;

    color: var(--basic-black);
}
.contact-tag
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    box-sizing: border-box;
    margin-left: 73px;
    padding-top: 10px;
    padding-bottom: 9px;

    text-align: center;
    text-decoration: none;

    color: var(--basic-black);
}
.twitter
{
    position: relative;

    width: 46px;
    height: 48px;
    margin-right: 6px;

    background-color: var(--basic-blue);
}

.twitter a
{
    position: absolute;
    top: 14px;
    right: 14px;
}
.facebook a
{
    position: absolute;
    top: 13px;
    right: 17px;
}
.youtube a
{
    position: absolute;
    top: 13px;
    right: 13px;
}
.facebook,
.youtube
{
    position: relative;

    width: 46px;
    height: 48px;
    /* margin-top: 10px; */
    margin-right: 6px;

    background-color: var(--basic-blue);
}
.youtube
{
    margin-right: 0;
}
/*  Действия */
.button-minus-adults:hover svg
{
    fill: var(--basic-black);
}
.button-minus-adults:active svg
{
    fill: var(--basic-blue);
}
.button-plus-adults:hover svg
{
    fill: var(--basic-black);
}
.button-plus-adults:active svg
{
    fill: var(--basic-blue);
}
.button-minus-children:hover svg
{
    fill: var(--basic-black);
}
.button-minus-children:active svg
{
    fill: var(--basic-blue);
}
.button-plus-children:hover svg
{
    fill: var(--basic-black);
}
.button-plus-children:active svg
{
    fill: var(--basic-blue);
}
.entry svg:hover
{
    fill: var(--basic-black);
}
.entry svg:active
{
    fill: var(--basic-blue) ;
}
.departure svg:hover
{
    fill: var(--basic-black);
}
.departure svg:active
{
    fill: var(--basic-blue);
}
.search-button:hover
{
    background-color: var(--social-button-hover);
}
.search-button:active
{
    color: var(--button-visibility);
    background-color: var(--social-button-active);
}
.twitter:hover
{
    background-color: var(--social-button-hover);
}
.twitter:active
{
    background-color: var(--social-button-active);
}
.twitter:active img
{
    opacity: .5;
}
.facebook:hover
{
    background-color: var(--social-button-hover);
}
.facebook:active
{
    background-color: var(--social-button-active);
}
.facebook:active img
{
    opacity: .5;
}
.youtube:hover
{
    background-color: var(--social-button-hover);
}
.youtube:active img
{
    opacity: .5;
}
.youtube:active
{
    background-color: var(--social-button-active);
}
/*логотип в футере*/
.footer-logo-link:hover svg
{
    fill: var(--basic-blue);
}
.footer-logo-link:active svg
{
    fill: var(--footer-logo);
}
/*каталог*/

/*чекбоксы*/
.filter
{
    display: grid;

    background-image: url(../img/backgroundcatalog.jpg) ;

    grid-template-columns: 1fr 1fr 1fr;
}

.filter ul
{
    list-style: none;
}
.filter legend
{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    color: var(--basic-white);
}
.filter-benefits
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: var(--basic-white);
    border: none;
}
.filter-type
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: var(--basic-white);
    border: none;
}
.slider-price
{
    padding-left: 181px;

    border: none;
}
.slider-price label
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: var(--basic-white);
    background: none;
}
/*слайдер*/
.price-button
{
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: var(--basic-white);
    border-style: solid;
    border-color: var(--basic-white);
    border-radius: 2px;
}
.price-button:hover
{
    color: var(--basic-black);
    background-color: var(--basic-white);
}
/*сортировка поиска*/
.sort
{
    display: flex;

    box-sizing: border-box;
    width: 1200px;
    padding-top: 29px;
    padding-right: 73px ;
    padding-bottom: 31px;
    padding-left: 73px;

    border-bottom: 1px solid var(--bottom);
    background-color: var(--basic-white);

    align-items: center;
}
.sorting-result
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 163px;

    color: var(--basic-black);
}
.sorting
{
    font-size: 12px;

    display: flex;

    width: 845px;
}

.sorting-list
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-left: 40px;

    list-style: none;

    color: var(--basic-black);
}
.sorting-item
{
    padding-right: 33px;
}
.sorting-item a
{
    opacity: .3;
    color: var(--basic-black);
    border-bottom: 1px dashed var(--basic-blue);
}
.sorting-from
{
    display: flex;
}

.sorting-from-list
{
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}
.sorting-from-list li
{
    padding-left: 12px;
}
.sorting-from-link svg
{
    fill: var(--from-to);
}


.sorting-item a:hover
{
    opacity: 1;
    color: var(--basic-blue);
}
.sorting-item a:focus
{
    opacity: 1;
    color: var(--basic-blue);
    border-bottom: none;
}
.sorting-item a:active
{
    opacity: 1;
    color: var(--basic-black);
    border-bottom: none;
}
.sort-from
{
    font-size: 11px;

    text-decoration: none;

    color: var(--from-to);
}
.sorting-from-link:hover svg
{
    fill: var(--basic-black);
}
.sorting-from-link:focus svg
{
    fill: var(--basic-blue);
}
.sorting-from-link:active svg
{
    fill: var(--basic-blue);
}
/*сортировка поиска*/

/*список*/
.result
{
  width: 1200px;
}
.list-result
{
    /* padding-bottom: 27px; */
    display: flex;

    width: auto;
    height: 150px;
    /* padding-left: 73px; */
    /* padding-top: 24px; */
    padding-left: 73px;

    border-bottom: 1px solid var(--bottom);
    background-color: var(--basic-white);

    align-items: center;
}
.result-img
{
    display: block;

    width: 164px;
    height: 90px;
}
.result-description
{
    display: flex;

    width: 780px;
    min-height: 100px;
    margin-right: 6px;

    flex-wrap: wrap;
    align-content: flex-start;
}

.result-description-h2
{
    min-width: 780px;
    margin: 0;
    padding-bottom: 5px;
}
.result-description-a
{
    text-decoration: none;

    color: var(--basic-black);
}
.button-detail
{
    margin-right: 6px;
}
.button-detail span
{
  line-height: 21px;
  color: var(--box-item-color);
}
.button-confirm span
{
  line-height: 21px;
  color: var(--box-item-color);
}
.button-confirm a
{
    font-weight: 700;

    display: block;
    line-height: 21px;
    width: 142px;
    height: 27px;
    margin-top: 12px;
    padding: 0;

    text-align: center;

    color: var(--basic-white);
    background-color: var(--button);
}

.button-detail a
{
    font-weight: 700;
    line-height: 21px;
    display: block;

    width: 110px;
    height: 27px;
    /* padding: 3px 17px; */
    margin-top: 12px;

    text-align: center;

    color: var(--basic-white);
    background-color: var(--basic-blue);
}
.rating
{
    display: flex;
    flex-direction: column;

    width: 110px;
    height: 90px;

    justify-content: space-between;
}
.rating-star
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-right: 4px;

    justify-content: flex-end;
}
.rating-star li
{
    padding-left: 5px;

    list-style: none;
}
.rating-figure
{
    width: 110px;
    height: 27px;
    margin-left: -5px;
    line-height: 21px;

    text-align: center;

    color: var(--rating);
    background-color: var(--background-color);
}
.result-description-a:hover
{
    color: var(--basic-blue);
}
.result-description-a:active
{
    opacity: .3;
    color: var(--basic-black);
}

.button-detail a:hover
{
    color: var(--basic-white);
    background-color: var(--button-detail-hover);
}
.button-detail a:active
{
    color: var(--button-visibility);
    background-color: var(--button-detail-hover);
}
.button-confirm a:hover
{
    color: var(--basic-white);
    background-color: var(--button-hover);
}
.button-confirm a:active
{
    color: var(--button-visibility);
    background-color: var(--button-active);
}






